<!-- Login Form -->
<!-- Template form -->
<!-- Template forms are built on reactive forms but much limited -->
<!-- # is used to declare a variable in the template - followed by the variable name and no need to assign a value for it -->
<!-- limitations for the variables: - only accessible in the template and can't be used in our component not other components -  -->
<!-- assigning the variable to ngForm is to have access to the ngForm elements - by default if we don't assign a variable angular will assume it should assign it to the element -->
<form #loginForm="ngForm" (ngSubmit)="login()">
    <!-- Email -->
    <!-- use template variables to extract data from the formControl -->
    <div class="mb-3">
        <label class="inline-block mb-2">Email</label>
        <!--
            ngModel directive that defines a formControl for the element as long as it has no formControl nor formControlName instance defined already
            [(ngModel)] is a two way binding to the ngModel directive to set a value for a property and emit an event for the value change - [] for property binding - () for event binding
            [(ngModel)] is the same as [value]='' (change)=''
            any input with ngModel directive will be registered as formControl if it is placed inside the form with type ngForm (template form)
        -->
        <!-- We can access controls directly through template variables -->
        <input #email="ngModel"
            type="email" name="email" [(ngModel)]="credentials.email"
            class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                duration-500 focus:outline-none rounded bg-transparent
                focus:border-indigo-400"
            placeholder="Enter Email" required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"/>
        <p *ngIf="email.errors && email.touched && email.dirty" class="text-red-400">
            Email is invalid.
        </p>
    </div>
    <!-- Password -->
    <div class="mb-3">
        <label class="inline-block mb-2">Password</label>
        <input #password="ngModel"
            type="password" name="password" [(ngModel)]="credentials.password"
            class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
            placeholder="Password" required/>
        <p *ngIf="password.errors && password.touched && password.dirty" class="text-red-400">
            Password is invalid.
        </p>
    </div>
    <button type="submit" [disabled]="loginForm.invalid"
        class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
            hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400">
        Submit
    </button>
</form>
